.service img {
    width: 100%;
    border-radius: 5px;
}

.service {
    background-color: rgba(253, 253, 232, 0.388);
}

.service p {
    padding: 0 12px;
    text-align: justify;
}
.main-button {
    margin-bottom: 15px;
}